[gui]
	recentrepo = C:/DATEN/eclipseWorkspace/SubmatixBTForPC
	encoding = utf-8
[user]
	email = dirk@submatix.com
	name = Dirk Marciniak
	signingKey = dirk@submatix.com
[push]
	default = matching
[branch]
	autosetuprebase = always
[core]
	autocrlf = false
	excludesfile = C:\\Users\\dmarc\\Documents\\gitignore_global.txt
	eol = lf
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\gpg2.exe
[commit]
	gpgSign = false
